* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Quicksand', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: hsl(0, 0%, 89%);
}

body h1 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;

    font-size: 3rem;
    
    font-family: 'Nixie One', cursive;
}

main {
    margin-bottom: 15px;
}

.weather-form {
    /* box-shadow: 0px 0px 5px 0px rgb(0, 0, 0, .2); */
    border-radius: 5px;

    /* background-color: hsl(0, 0%, 97%); */

    padding: 10px 20px;
}

.weather-form input {
    border-radius: 5px;
    padding: 10px;

    outline: none;
    border: 1px solid black;

    font-size: 1.5rem;
}

.error-msg {
    display: none;
    color: hsl(0, 100%, 42%);

    margin-top: 10px;
}

.error-msg.active {
    display: block;
}

.hourly-weather {
    display: flex;
    gap: 20px;

    overflow: auto;
    min-height: 220px;

    width: 100%;

    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.hourly-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 120px;

    flex: 1;
}

.pop {
    /* color: rgb(78, 181, 255); */
    color: #026cde;
}

.weather-stats {
    min-width: 100%;
    background-color: hsl(0, 0%, 79%);
    
    padding: 10px 20px;
}

.stats-grid {
    margin-top: 20px;

    width: 100%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: 20px;

    padding-bottom: 20px;
}

.stats-grid > div {
    text-align: center;
}

.stats-grid abbr {
    cursor: help;
}

.weather-cards {
    display: grid;

    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;

    padding: 20px;
}

.weather-card {
    background-color: white;
    padding: 10px;

    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0, .2);

    display: flex;
}

.weather-card h2 {
    font-weight: 400;
}

.weather-card img {
    margin-left: auto;

    height: 100px;
    width: 100px;
}

.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.skeleton-text {
    width: 100%;
    height: .5rem;
    margin-bottom: 10px;
    padding: 10px 100px 10px 10px;

    border-radius: 5px;
}

@media screen and (max-width: 500px) {
    .stats-grid {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
}